{% include 'includes/_navbar.html' %}
<script src="/static/js/moment.min.js"></script>

<div class="row text-center" style="margin-top: 70px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        
        <div class="alert none">
            <h3 id="alertText">This is an alert box.</h3> 
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-title m-5">
                        <h2>Gelir ve Gider Ekle</h2>
                        <hr>
                    </div>
                    <div class="card-body">
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#incomeModal">Gelir Ekle</button>
                            <span style="margin-left:50px"></span>
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#expenseModal">Gider Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
      
<!-- Income Modal -->
<div class="modal fade" id="incomeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="incomeModal" aria-hidden="true">
<div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="incomeModal">Gelir Ekle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- Dropdown for income type -->
        <label for="incomeSelect">Gelir</label>
        <div class="input-group mb-3">
            <select class="custom-select" id="incomeSelect">
              <option selected>Gelir Seç</option>
              <option value="1">Nakit Satışlar</option>
              <option value="2">Kredi Kartı Satışlar</option>
              <option value="3">Ziraat Banka Havale</option>
              <option value="4">Vakıf Banka Havale</option>
              <option value="5">Kasada Olan Para</option>
            </select>
          </div>
        <!-- end income type! -->
        <!-- input for explanation -->
        <label for="incomeExplanation">Açıklama</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="incomeExplanation" aria-describedby="basic-addon3">
        </div>
        <!-- end input explanation -->
        <!-- money input -->
        <label for="incomePrice">Miktar</label>
        <div class="input-group mb-3">
            <input id="incomePrice" type="text"  onkeypress='validate(event)' class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <span class="input-group-text">₺</span>
            </div>
        </div>
        <!-- end money input -->
    </div>
    <div class="modal-footer">
        <button id="incomeCancel" type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
        <button id="incomeSubmit" type="button" class="btn btn-success">Gelir Ekle</button>
    </div>
    </div>
</div>
</div>
<!-- end income modal! -->

<!-- expense Modal -->
<div class="modal fade" id="expenseModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="expenseModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="expenseModal">Gider Ekle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Dropdown for expense type -->
            <label for="expenseSelect">Gider</label>
            <div class="input-group mb-3">
                <select class="custom-select" id="expenseSelect">
                    <option selected>Gider Seç</option>
                    <option value="1">Ambalaj Gideri</option>
                    <option value="2">Yemek Gideri</option>
                    <option value="3">Otogar Kargo</option>
                    <option value="4">Araç Yakıt</option>
                    <option value="5">Personel Maaş</option>
                    <option value="6">Elektrik Faturası</option>
                    <option value="7">Maliye Vergisi B.</option>
                    <option value="8">D. Alınan Mlz.</option>
                    <option value="9">Depo Gideri v.s.</option>
                </select>
                </div>
            <!-- end expense type! -->
            <!-- input for explanation -->
            <label for="expenseExplanation">Açıklama</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="expenseExplanation" aria-describedby="basic-addon3">
            </div>
            <!-- end input explanation -->
            <!-- money input -->
            <label for="expensePrice">Miktar</label>
            <div class="input-group mb-3">
                <input id="expensePrice" type="text" class="form-control" onkeypress='validate(event)' aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">₺</span>
                </div>
            </div>
            <!-- end money input -->
        </div>
        <div class="modal-footer">
            <button type="button" id="expenseCancel" class="btn btn-danger" data-dismiss="modal">İptal</button>
            <button type="button" id="expenseSubmit" class="btn btn-success">Gider Ekle</button>
        </div>
        </div>
    </div>
</div>
<!-- end expense modal! -->

<script src="/static/js/home.js"></script>
<style>
.none{
    display: none;
}
.alert {
  padding: 20px;
  background-color: green; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.notValid{
    background-color: rgb(250, 185, 185);
}

</style>