{% include 'includes/_navbar.html' %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/b-html5-1.6.1/r-2.2.3/sl-1.3.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/b-html5-1.6.1/r-2.2.3/sl-1.3.1/datatables.min.js"></script>



<!-- Gelir Gider tabloları ve sonuçları gösterilecek -->
<h1 class="text-center m-5">Gelir-Gider Tabloları</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <caption style="margin-bottom: 5px; background-color: green;"><h4 class="text-center" style="border-radius: 10px;padding: 10px; background-color: green; color: white;">Gelir Tablosu</h4></caption>
                <hr>
                <table id="incomeTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Gelir</th>
                            <th>Açıklama</th>
                            <th>Miktar</th>
                            <th>Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1 Data 1</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 1 Data 1</td>
                            <td>Row 1 Data 1</td>
                        </tr>
                        <tr>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1">
                <div class="vl" style="margin-left: -10px;border-left: 1px solid gray; height: 500px;"></div>
            </div>
            <div class="col-md-10">
                <caption style="margin-bottom: 5px;"><h4 class="text-center" style="border-radius: 10px;padding: 10px; background-color: red; color: white;">Gider Tablosu</h4></caption>
                <hr>
                <table id="expenseTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Gider</th>
                            <th>Açıklama</th>
                            <th>Miktar</th>
                            <th>Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1 Data 1</td>
                            <td>Row 1 Data 2</td>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                        </tr>
                        <tr>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<script src="/static/js/endorsement.js"></script>